* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
  background-image: url(./images/mountain-3351653_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 10px;
}

.container-search {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.container-search label, input {
  margin: 10px;
}

.container-search input {
  padding: 5px;
  background-color: aquamarine;
  border-radius: 6px;
}

.btn-search {
  background: none;
  border: none;
  cursor: pointer;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 2px;
  width: 90%;
  max-width: 400px;
  height: 450px;
  background-color: #7B68EE;
  border-radius: 10px;
  border: 1px solid gray;
}

.content h2 {
  margin: 10px auto;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

.content p {
  line-height: 1.4em;
  margin: 4px;
  font-size: 1.2em;
}

.information {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 1px;
  background-color: aquamarine;
  width: 96%;
  height: 90%;
  margin: 1px auto;
  border-radius: 10px;
}

span {
  margin-top: 10px;
  margin-left: 22px;
  font-size: 2.5em;
}

strong {
  font: bold;
  color: #7B68EE;
  text-shadow: 1px 1px 2px white;
}

.highlights {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-description {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.info-temp {
  display: flex;
  flex-direction: column;
  margin: 2px 5px;
}